@use '../1_settings/var' as *;

// =============================================================================
// TYPOGRAPHY
// =============================================================================

body {
    font-family: $font-family-body;
}

strong {
    font-weight: 700;
}

i {
    font-style: normal;
}
