// =============================================================================
// FONTS
// =============================================================================

$font-family-body: 'Manrope Variable', 'Manrope', sans-serif;
$font-family-heading: 'Mango Grotesque', Impact, 'Arial Narrow', sans-serif;
$font-family-monospace: monospace;
$font-family-icons: 'packicons';
